/* start main rulez */
:root{
    --blue:#008dde;
    --labny:#2eb3eb;
    --mint:#01f6fe;
    --gray: #d8e2ea;
    --move:#d6accf;
    --dark:#888;
  }
body{
    background-color: #f4f4f4;
}
/* .asterisk{
  position: absolute;
  font-size: 30px;
  left: 100px;
  bottom: 3px;
  color: #d20707;
} */
/* end main rulez */
/* start login form */
.login{
    width: 300px;
    margin: 100px auto;
}
.login h4{
    color: #888;
}
.login input{
    margin-bottom: 10px;
}
.login .form-control{
    background-color: #e5e5e5;
}
.login .btn{
    background-color: #008dde;
}
/* end login form */
/* start navbar style */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
  
  .navbar {
    
    background-color: var(--labny);
    margin-bottom: 0;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 15px 12px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: var(--gray);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 3px;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /* Responsive styles */
@media (max-width: 600px) {
  .navbar a {
    float: none;
    display: block;
    text-align: left;
  }

  .navbar .dropdown, .navbar .dropdown-content {
    position: relative;
  }

  .navbar .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

  .navbar .dropdown-content a {
    text-align: left;
  }
}
/* Responsive styles for 480px */
@media (max-width: 480px) {
    .navbar a {
      float: none;
      display: block;
      text-align: center;
    }
    
    .dropdown {
      float: none;
    }
    
    .dropdown .dropbtn {
      width: 100%;
      text-align: center;
    }
    
    .dropdown-content {
      position: static;
      display: none;
      min-width: 100%;
      box-shadow: none;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
  }
  /* end nav bar style */
  /* strt dashbord page */
.home-stats .st-members  {
  background-color: #3498db;
}
.home-stats .st-pending{
  background-color: #c0392b;
}
.home-stats .st-items{
  background-color: #d35400;
}
.home-stats .st-comments{
background-color: #8e44ed;
}
.home-stats .stat{
  border-radius: 10px;
  padding: 20px;
  font-size: 15px;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.home-stats .stat i{
  position: absolute;
  font-size: 80px;
  top: 35px;
  left: 30px;
}
.home-stats .stat .info{
  float: right;
}
.home-stats .stat a{
  color: #fff;
  text-decoration: none;
}
.home-stats .stat a:hover{
  text-decoration: none;
}
.home-stats .stat span{
  display: block;
  font-size: 60px;
}
.latest{
  margin-top: 30px;
}
.latest .toggle-info{
  color: #999;
  cursor: pointer;
}
.latest .toggle-info:hover{
  color: #444;
}
.panel .panel-heading{
  border: 1px solid #ccc;
}
.panel .panel-heading i{
  padding-right: 3px;
}
.panel .panel-body{
  border: 1px solid #ccc;
  background-color: white;
  
}
.latest-users{
  margin-bottom: 0;
}
.latest-users li{
  padding: 10px ;
  
}
.latest-users li:nth-child(odd){
  background-color: #eee;
}
.latest .comment-box{
  margin: 5px 0 10px;
} 
.latest .comment-box .member-n{
  margin-right: 20px;
  width: 80px;
  text-align: center;
  position: relative;
  top: 10px;
}
/*  */
.latest .comment-box .member-c{
  width: calc(100% - 75px);
  right: -70px;
  background-color: #efefef;
  padding: 10px;
  bottom: 20px;
  position: relative;
}
.latest .comment-box .member-c:before{
  content: "";
  display: block;
  position: absolute;
  left: -28px;
 /* bottom: 5px; */
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent #efefef transparent transparent;
  border-width: 15px;


} 
.pull-right{
  float: right;
 padding: 2px 8px;
 
}
  /* end dashbord page */
  /* strt members page */
  .nice-masage{
    padding: 10px;
    background-color: #fff;
    margin: 10px 0;
    border-left: 5px solid #080;
  }
  .form-control{
    position: relative;
  }
  h1{
    font-size: 55px;
    margin: 40px 0;
    font-weight: bold;
    color: #666;
  }
/* .fa-eye{
  position: absolute;
  top: 6px;
  right: -30px;
}  */
  form{
    margin-left: auto;
    margin-right: auto;
    border: var(--gray);
}
.form-group{
    
    padding: 15px;
    margin: 10px 0px;
    border-bottom: 1px solid var(--gray);
    border-radius: 7px;
} 
.btn{
    padding: 15px;
    background-color: var(--blue);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.main-table{
  -webkit-box-shadow: 0 3px 10px #ccc;
  -moz-box-shadow: 0 3px 10px #ccc;
  box-shadow: 0 3px 10px #ccc;
}
.main-table td{
  background-color: #fff;
  vertical-align: middle !important;
}
.main-table .btn{
  padding: 3px 10px;
}
.main-table .btn i{
  padding-right: 3px;
}
.main-table tr:first-child td{
  background-color: #333;
  color: #fff;
  /* text-align: center; */
}
.add{
  padding: 3px 10px;
}
.add i{
  padding-right: 3px;
}
.btn{
  padding: 2px 8px;
}
.activate{
  margin-left: 5px;
  padding: 2px 8px;
}
/* end members page */
/* start category page */
.categories .panel-body {
  padding: 0;
}
.categories hr{
  margin-top: 0;
  margin-bottom: 0;
}
.categories .cat {
  padding: 15px ;
  position: relative;
  overflow: hidden;
}
.categories .cat .hidden-buttons a {
  margin-right: 5px;
}
.categories .cat:hover{
  background-color: #eee;
}
.categories .cat:hover .hidden-buttons{
  right: 10px;
}
.categories .cat .hidden-buttons{
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  position: absolute;
  top: 15px;
  right: -160px;
}
.panel-heading {
  padding: 15px ;
  color: #959595;
  font-weight: bold;
}
.categories .cat h3{
  margin: 0 ;
  cursor: pointer;
  font-weight: bold;
  color: #6a6a6a;
}
.categories .cat .full-view p{
  margin: 10px 0;
  color: #707070;
}
.categories .cat:last-of-type ~ hr{
  display: none;
}
.categories .cat .visiblty{
  background-color: #d35400;
  padding: 4px 6px;
  margin-right: 6px;
  border-radius: 6px;
  color: #fff;
  font-weight: bold;
}
.categories .cat .commenting{
  font-weight: bold;
  background-color: #2c3e50;
  padding: 4px 6px;
  margin-right: 6px;
  color: #fff;
  border-radius: 6px;
}
.categories .cat .advertises{
  font-weight: bold;
  background-color: #c0392b;
  padding: 4px 6px;
  margin-right: 6px;
  color: #fff;
  border-radius: 6px;
}
.categories .option a{
  color: #888;
  text-decoration: none;
}
.categories .option span{
  color: #888;
  cursor: pointer;
}
.categories .option .active{
  color: #ff7979;
  font-weight: bold;
}
.categories .add-category{
  margin-top: 10px;
  margin-bottom: 30px;
}
/* end category page */
  